{%extends "layout.html"%}

{%block title%}
    Credits
{%endblock%}

{%block main%}
<div style="margin-top:50px" class="container">
    <div style="width:50%;margin:auto;" class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Data API used:</div>
    <div class="card-body">
      <a href="https://api.covid19india.org/" class="card-text">https://api.covid19india.org/</a>
    </div>
  </div>
  <div style="width:50%;margin:auto;" class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">ICONS BY:</div>
    <div class="card-body">
        <div>
        Icons made by <a href="https://www.flaticon.com/authors/vitaly-gorbachev" title="Vitaly Gorbachev">Vitaly Gorbachev</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </div>
        <div>
        Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </div>
        <div>
        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </div>
        <div>Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </div>
        </div>
  </div>
</div>
{%endblock%}